body {
  background: rgb(248, 248, 248);
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: underline;
}

nav a,
nav a:visited {
  color: #fff8f8;
}

a:link {
  color: #fff8f8;
}

form {
  background-color: inherit;
  border: inherit;
}

.utterances {
  min-width: 900px;
  width: 100%;
  margin-left: 0;
}

nav a:hover,
nav a:focus,
nav a:visited:hover,
nav a:visited:focus {
  color: black;
}

@media screen and (max-width: 800px) {
  .utterances {
    min-width: 250px;
    width: 100%;
    margin-left: 0;
  }
}
